<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Builder</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Form Builder</h1>
    </header>
    <section id="app">
      <ul>
        <li>
          <h2>FormSelector</h2>
          <a v-for="(field, index) in inputFields" :key="index">
            <builders-field
              :input_types.sync="inputTypes"
              :parameters.sync="field"
              :remove-field="removeField"
            >
              <builders-field-input
                v-if="field.type === 'builders-field-input'"
                :parameters.sync="field"
              ></builders-field-input>
              <builders-field-dropdown
                v-if="field.type === 'builders-field-dropdown'"
                :parameters.sync="field"
              ></builders-field-dropdown>
              <builders-field-radio
                v-if="field.type === 'builders-field-radio'"
                :parameters.sync="field"
              ></builders-field-radio>
              <builders-field-button
                v-if="field.type === 'builders-field-button'"
                :parameters.sync="field"
              ></builders-field-button>
              <builders-field-date
                v-if="field.type === 'builders-field-date'"
                :parameters.sync="field"
              ></builders-field-date>

              <div>
                <br />
                <button @click="moveField(index, -1)">Up</button>
                <button @click="moveField(index, 1)">Down</button>
              </div>
            </builders-field>
          </a>

          <button @click="addField">New Field</button>
        </li>
      </ul>

      <ul>
        <li>
          <h2>Code Generator</h2>
          <code-generator :parameters.sync="inputFields"></code-generator>
        </li>
      </ul>

      <builders-field-regexgenerator></builders-field-regexgenerator>
    </section>
  </body>
</html>
