<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Builder</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Form Builder</h1>
    </header>
    <section id="app">
      <ul>
        <li>
          <h2>FormSelector</h2>
          <ul>
            <a v-for="fieldParams in inputFields" :key="index">
              <builders-option :parameters.sync="fieldParams"></builders-option>
            </a>
          </ul>

          <button @click="addField">New Field</button>
        </li>
        <li>
          <a v-for="field in inputFields">
            <builders-field>
              <builders-field-input
                v-if="field.type === 'builders-field-input'"
                :parameters.sync="field"
              ></builders-field-input>
              <builders-field-select
                v-if="field.type === 'builders-field-select'"
                :parameters.sync="field"
              ></builders-field-select>
              <builders-field-radio
                v-if="field.type === 'builders-field-radio'"
                :parameters.sync="field"
              ></builders-field-radio>
              <builders-field-button
                v-if="field.type === 'builders-field-button'"
                :parameters.sync="field"
              ></builders-field-button
            ></builders-field>
          </a>
        </li>
      </ul>
    </section>
  </body>
</html>
